#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin: 1%;
    width: 9em;
    height: 9em;
    border-style: solid;
    border-color:#FFFFFF;
    background: #00AAFF;
    text-decoration: none;
    color: black;
    border-radius: 30px;
}

.films, .details {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:auto;
    width:auto;
    height:94vh;
    overflow: auto;
    flex-grow:1;
}

html, body{
    height:100%;
    margin:0;
    background-color:gray;
}
.acteur{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top:auto;
    width:auto;
    height:94vh;
    overflow: auto;
    flex-grow:1;
}
.movie__poster{
    width : auto;
}

@media screen and (max-height:640px){
    .films {
        height:85vh;
    }
}

header{
    background-color:darkcyan;
    color:black;
    text-align:center;
    border-style:double;
    border-color:#FFFFFF;
    font-size: 2em;
}

footer{
    background-color:darkcyan;
    color:black;
    text-align:center;
    border-style:double;
    border-color:#FFFFFF;
    font-size: 1.4em;
}